@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-style:initial;
    color: #7B7C95;
    font-size: 15px;
    text-align: center;
}

hr{
	margin-left: 50px;
    margin-right: 50px;
}	

h2{
	font-size: 30px;
	margin: 15px;
	margin-top: 30px;
}
	

tr {
	border-bottom:.5px solid #7B7C95;
}
table{
	width:85%;
	margin: auto;
	border-collapse: collapse;
	
}
td {
	text-align: left;
}

 th, td{
	padding: 10px;
}

button{
	margin-left: 15px;
	margin-top: 20px;
	padding: 3px;
	letter-spacing: .5px;
}

button:hover{
	cursor: pointer;
}

img {
	vertical-align:middle;
}
#lock {
	width: 20px;
	height: 20px;
}

#buttons {
	width: 300px;
	margin: auto;
}

textarea {
	padding-left: 5px;
	width: 100%; 
	height: 80px; 
	text-align: left;
	background-color: #F1F1F1;
	border:none
}
#content{
	padding-left: 4.7%;
}
.banner-image{
	width: 100%;
}