@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-style:initial;
    color: #7B7C95;
    font-size: 15px;
    text-align: center;
}
#btns{
    margin: 50px;
    display:inline-block;
}
h1{
    margin: 50px;
    font-size: 50px;
}
hr{
	margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
}
#search-logo{
	vertical-align:middle;
	margin-bottom:2px;
}
#search-logo:hover{
	cursor: pointer;
}
#search-bar{
	text-align: left;
	margin-left: 75px;
	margin-top: 30px;
	
}
h2{
	font-size: 30px;
	margin: 15px;
	margin-top: 30px;
}
.second-hr{
	margin-left: 65px;
    margin-right: 65px;
    margin-top: 0;
}

table{
	width:85%;
	margin: 10px auto;
	border-collapse: collapse;
}
 th, td{
	border-bottom:.5px solid #7B7C95;
	padding: 10px;
}
tr:hover:not(#first-tr){
	background-color: #f2f2f2;
	opacity: .7;
	cursor: pointer;
	transition-duration: .2s;
}
button:hover{
	cursor: pointer;
}

#attach-image{
	width: 15px;
}
.product-image{
	width: 70px;
}
.star-image{
	width: 100px;
}

#title span{
	position: relative;
	bottom: 20px;
}

#review-write{
	float: right;
	margin-right: 100px;
	width: 120px;
	height: 30px;
	
}
tr:last-child {
	border-bottom: none;
}

.banner-image{
	width: 100%;
}
