@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-style:initial;
    color: #7B7C95;
    font-size: 15px;
    text-align: center;
}

button{
	margin-left: 65px;
	margin-top: 20px;
	float:left;
	padding: 3px;
}

button:hover{
	cursor: pointer;
}

#buttons {
	width: 300px;
	margin: auto;
}

#top {
	height: 25px;
	text-align: left;
	background-color: #E9E9E9;
}
