@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-style:initial;
    color: #7B7C95;
    font-size: 15px;
}
a{
	padding: 10px;
    text-decoration: none;
    letter-spacing: 0.4px;
}
#header{
	margin: 0;
    padding: 0;
    background-color: #E9E9E9;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
   	height: 40px;
   	width:100%;
   	position: fixed;
   	top:0;
}
.dropdown{
	display: inline-block;
}
#headerLeft{
	margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.dropdown-content {
	position: absolute;
	visibility: hidden;
	opacity : 0;
	background-color: #E9E9E9;
	top: 40px;
}
.dropdown:hover .dropdown-content{
	visibility: visible;
	opacity : 1;
	transition : .2s ease-in-out;
}
.dropdown-content a{
	display: block;
	padding: 7px;
	text-align: center;
}
.header:hover:not(#img){
	background-color: #E1E1E1;
	transition : .2s ease-in-out;
}
.dropdown-content > .header{
	letter-spacing: 1px;
}
#third-dropdown{
	margin-right: 5px;
}
#whoru{
	margin-right: 15px;
}